@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 98vh;
    width: 211vh;
    /* display: flex;  */
    background-color: #000000;
    /* background-color: #0effb7; */
    font-family: "poppins", sans-serif;
    color: #000000;
} 

.cards{
    /* position: relative; */
    /* width: 350px; */
    height: 98vh;
    /* width: 50%; */
    /* margin: auto; */
    /* margin-top: 45em; */
    /* margin-bottom: 40vh; */
    /* margin-right: 150vh; */

    background-color: #000000;

}
.slidearea{
    /* position: relative;
    margin-top: -100px;
    height: 100%;
    width: 50%;
    display: flex; */
    background-color: aliceblue;
    
    background-color: #000000;
    /* align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end; */
    
    /* margin-left: 50%;
    margin-top: 10%; */
    
}
/* .cards{
    position: relative;
    margin-top: -100px;
    width: 50%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    margin-left: 10%;
} */
.card{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20em;
    margin-left: 5em;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(236, 53, 53, 0.2);
    font-size: 12px;
    /* overflow: hidden; */
    transform-origin: center;
    transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.next{
    position: absolute;
    top: 53%;
    right: 4%;
    font-size: 20px;
    cursor: pointer;
}

.next i {
    background-color: #fc686d;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.image{ width: 100%; height: 180px; overflow: hidden; }

.image img { width: 100%; height: 100%; }

.detail{ padding: 15px 20px; position: relative; }

.detail h3 { font-size: 15px; margin: 0; }

.detail i { font-size: 10px; margin-bottom: 5px; color: #fc686d; }

.detail p { font-size: 13px; font-weight: 500; color: #868686; margin: 0; }

.card:nth-child(1) {
    z-index: 10;
    top: 0px;
    right: 0px;
    transform-origin: top;
    transform: scale(1);
    opacity: 1;
}

.card:nth-child(2) {
    z-index: 9;
    top: -50px;
    left: 100px;
    transform-origin: top;
    transform: scale(0.9);
    opacity: 0.8;
}

.card:nth-child(3) {
    z-index: 8;
    top: -100px;
    left: 200px;
    transform-origin: top;
    transform: scale(0.8);
    opacity: 0.6;
}

.card:nth-child(4) {
    z-index: 7;
    top: -150px;
    left: 300px;
    transform-origin: top;
    transform: scale(0.7);
    opacity: 0.4;
}

.card:nth-child(5) {
    z-index: 6;
    top: -60px;
    transform-origin: top;
    transform: scale(0.6);
    opacity: 0.2;
}

.card:first-child:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05)
}

.card:last-child {
    opacity: 0;
}
.year{
    padding-top: 130px;
    padding-left: -200px;
    margin-top: 130px;
    color: white;
    /* margin-right: 500px; */

}
.half-circle {
    width: 600px;
    height: 600px;
    margin-top: 10%;
    padding-right: 0px;
    margin-left: 100px;
    /* padding-top: 100px; */
    /* background-color: gold; */
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-radius: 100%;
    border: 15px solid rgb(255, 255, 255);
    border-right: 0;
    border-left: 0;
    overflow-x: hidden;
    /* animation: mymove 2s infinite; */
    /* rotate: -10deg; */
    
    /* border-top: 0; */
}

@keyframes mymove {
    50% {transform: rotate(10deg);}
  }